.question3 {
    color: white;
    .parallax-div {
      height: 20vw;
      margin: auto;
      width: 70vw;
  
      .question {
        text-align: center;
      }
      .answer {
        text-align: left;
      }
    }
  }
  